HELP.md

# Maven / Build
target/
build/
out/
*.class

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Keep nested target/build folders if needed
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Logs
*.log
logs/

# Environment / Secrets
.env
.env.*
*.env

application-local.properties
application-secret.properties

# OS files
.DS_Store
Thumbs.db

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/